:root {
    --main-color:hsl(120, 25%, 65%, 25%);
    --secondary-color: hsl(120, 100%, 25%);
}

body {
    text-align:center;
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: 600;
    font-size: 120px;
    letter-spacing: .2em;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: .1em;
}

p {
    padding: 7em;
    font-family: 'Roboto Mono', monospace;
}

footer {
    font-family: 'Roboto Mono', monospace;
    line-height: 5em;
    padding-top: 5em;
}

footer i {
    font-size: 35px;
}

footer a {
    color: var(--secondary-color);
}

.navbar {
    border-style: double none double;
    border-color: var(--secondary-color);
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-color);
    padding: 15px;
}

.welcome {
    background-color:var(--main-color);
    padding: 70px;
}

.chibog, {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: .1em;
    text-align: left;
}

.pronounciation {
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}

.definition {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.5em;
    text-align: left;
}

.recipe-information {
    text-align: left;
}

.recipe-name, .about-recipe-name {
    font-size: 47px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
}

.recipe-name:hover {
    color: var(--secondary-color);
    font-style: italic;
    font-weight: bolder;
}
.recipe-pic {
    background-color: var(--main-color);
    padding: 50px 25px;
    border-radius: 50%;
}


.recipe-description {
    color: black;
    font-size: 20px;
    line-height: 1.5em;
    font-family: 'Roboto Mono', monospace;
}

.ingredients, .instructions {
    background-color: var(--main-color);
    padding: 2em;
    border-radius: 2%;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
}

.about p {
    border-style: double;
    border-color: var(--secondary-color);
    padding: 1.5em;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.contact-form {
    background-color: var(--main-color);
    padding: 2em;
    border-radius: 1em;
    text-align: left;
}

@media (max-width:992px) {
    h1 {
        font-family: 'Caveat', cursive;
        font-size: 70px;
        letter-spacing: .2em;
        text-align: center;
    }

    p {
        padding: 3em;
    }

    footer {
        padding-top: 1em;
    }

    .welcome {
            background-color:var(--main-color);
            padding: 25px;
        }    
    
    .chibog {
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 900;
            font-size: 30px;
            letter-spacing: none;
            text-align: center;
        }
    
    .pronounciation {
            font-size: 28px;
            font-weight: 500;
            font-style: italic;
        }

    .welcome-image {
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin: auto;
    }
        
    .definition {
            margin-top: 1em;
            font-family: 'Roboto Mono', monospace;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.5em;
            text-align: center;
        }
}

@media (max-width: 767px) {

    h1 {
        font-size: 30px;
    }

    p {
        padding: 2em;
        font-size: 13px;
    }

    h4 {
        font-size: 15px;
    }

    footer div {
        font-size: 12px;
    }

    .chibog {
        font-size: 20px;
        letter-spacing: none;
        }
    
    .pronounciation {
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        }

    .welcome-image {
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin: auto;
    }
        
    .definition {
        margin-top: 1em;
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
        font-size: 11px;
        line-height: 1.5em;
        text-align: center;
    }

    footer i {
        font-size: 18px;
    }
    
    .recipe-information {
        text-align: left;
        background-color: var(--main-color);
        padding: 20px 15px;
        border-radius: 15%;
    }

    .recipe-name {
        font-size: 25px;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    .recipe-description {
        color: black;
        font-size: 13px;
        line-height: .5em;
        font-family: 'Roboto Mono', monospace;
    }

    .contact-links {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--main-color);
        padding: 10px;
    }
}
